<main id="main">
  <section class="user-profile-section">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 col-8 mob-mb1">
          <h4 class="text-theme mb-4"><strong>User Profile</strong></h4>
        </div>
        <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-12 text-end">
          <a routerLink="/supplier-admin/supplier-dashboard-header" class="btn btn-primary text-dark">Back</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-12 row">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label>Company Name</label>
              <input type="text" class="form-control" formControlName="name" readonly />
            </div>

            <div class="form-group">
              <label>Company Website</label>
              <input type="text" class="form-control" formControlName="website" readonly />
            </div>

            <div class="form-group">
              <label>Year of Establishment</label>
              <input type="text" class="form-control" formControlName="yearOfEstablishment" readonly />
            </div>

            <div class="form-group">
              <label>Type Of Company</label>
              <input type="text" class="form-control" formControlName="typeOfCompany" readonly />
            </div>

            <div class="form-group">
              <label>VAT or GST Number</label>
              <input type="text" class="form-control" formControlName="VATOrGSTNumber" readonly />
            </div>

            <div class="form-group">
              <label>Company Address</label>
              <input type="text" class="form-control" formControlName="companyAddress" readonly />
            </div>

            <div class="form-group">
              <label>Developer/Engineer Teams Count</label>
              <input type="text" class="form-control" formControlName="employeeCount" readonly />
            </div>

            <div class="form-group">
              <label>Other Team Members count</label>
              <input type="text" class="form-control" formControlName="employeeCount" readonly />
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email" readonly />
            </div>

            <div class="form-group">
              <label>Company Directors/Owners</label>
              <input type="text" class="form-control" formControlName="companyDirectors_Owners" readonly />
            </div>

            <div class="form-group">
              <label>Phone Number</label>
              <input type="text" class="form-control" formControlName="customerSupportContact" readonly />
            </div>
          </form>

          <!-- <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-12 text-end">
            <a href="javascript:;" class="btn btn-primary text-dark">Submit</a>
          </div> -->
        </div>
      </div>

    </div>
  </section>
</main>